*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
     perspective: 10px;                 /* user and z axis distance */
}
.container{
    position: relative;                  /*  nearest position ancestor */
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
     transform-style: preserve-3d;             /* 3d property retain */
    z-index: -1;
}
.back{
    position: absolute;
     height: 100%;                                 /*fix the size  */
    width: 100%;
    object-fit: cover;                              /* fit to the screen */
    z-index: -1;                                      /* show hiddent tags like heading h1*/
    transform: translateZ(-40px) scale(5);  /* translatez image ko dur bhejta hai or scale utna guna bada karta hai */

}
.fore{
    position: absolute;
    height: 100%;                                     /*fix the size  */
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-15px) scale(4);

}
#h1{
    position: absolute;
    top: 5rem;
  
    letter-spacing: 4px;
    font-size: 8rem;
    color: white;
    text-shadow: 0 0 10px rbga(0,0,0,0.3);
}
section{
    background-color: rgb(38, 39, 36);
    color: white;
    padding: 5rem 0;                     
}
.advtime{
    font-size: 5rem;
    padding: 0 10rem;
}
.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;          /* image fixed and other thing will scroll */
    height: 300px;
    background-position: center;            /* placed image in center */
     background-size: cover;                    /*fit  image to screen size */
}

.bg1{
    background-image: url(biking.jpg);
}
.bg2{
    background-image: url(para.jpg);
}
.bg3{
    background-image: url(surfing.jpg);
}
.desc{
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    size: 3.5rem;
    font-weight: 600;

}